<header class="header">
  <div class="container">
    <nav class="nav centered">
      <a href="./index.html" class="nav__logo centered"
        ><span class="nav__logo--accent">Simply</span>&nbsp;
        <span class="nav__logo--text">chocolate</span>
        <svg class="nav__icon" width="21" height="21">
          <use href="../img/icons.svg#chocolate-icon"></use>
        </svg>
      </a>

      <button class="menu__button centered" type="button">
        <svg class="menu__icon" width="28" height="28">
          <use href="../img/icons.svg#burger-menu-icon"></use>
        </svg>
      </button>
      <load ="./menu.html" />
    </nav>
  </div>
</header>
