<div class="menu__overlay">
  <div class="menu__wrapper">
    <load ="/partials/components/button-close.html" />
    <ul class="menu__nav">
      <li class="menu__item">
        <a class="menu__link" href="../index.html">Home</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="">How it&#180;s made?</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="">Chocolate is loved</a>
      </li>
    </ul>

    <ul class="socials centered">
      <li class="socials__item">
        <a
          class="socials__link centered"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          aria-label="facebook link"
        >
          <svg class="socials__icon" width="24" height="24">
            <use href="../img/icons.svg#facebook-icon"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a
          class="socials__link centered"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          aria-label="instagram link"
        >
          <svg class="socials__icon" width="24" height="24">
            <use href="../img/icons.svg#instagram-icon"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a
          class="socials__link centered"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          aria-label="twitter link"
        >
          <svg class="socials__icon" width="24" height="24">
            <use href="../img/icons.svg#twitter-icon"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
