/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
/* components */
@import url('./components/container.css');
@import url('./components/centered.css');
@import url('./components/menu_button.css');
@import url('./components/button-close.css');
@import url('./components/socials.css');
/* layout */
@import url('./header.css');
@import url('./body.css');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  scroll-behavior: smooth;

  --cl-1-cl: tomato;

  --primary-text-cl: #111111;
  --dark-bg-cl: #1e1823;
  --grey-cl: #4c4c4c;
  --accent-cl: #fd9222;
  --light-cl: #fafafa;
  --white-cl: #ffffff;
  --undefined-cl: #fcf1e0;

  --fast-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
